# packages
numpy 
scipy 
pyyaml 
matplotlib
imageio
pygame

# PyTorch
torch
torch-scatter

# Logger
tensorflow
tensorboard
tensorboard-logger

# SMAC
git+https://github.com/ndhuynh02/smac.git

# Other
sacred
einops
gym