absl-py==2.0.0
atomicwrites==1.4.1
attrs==23.1.0
certifi==2023.11.17
chardet==5.2.0
cycler==0.12.1
docopt==0.6.0
enum34==1.1.10
future==0.18.3
idna==3.6
imageio==2.33.0
jsonpickle==3.0.2
kiwisolver==1.4.5
matplotlib==3.8.2
mock==5.1.0
more-itertools==10.1.0
mpyq==0.2.5
munch==4.0.0
numpy==1.26.2
pathlib2==2.3.7.post1
pbr==6.0.0
Pillow==10.1.0
pluggy==1.3.0
portpicker==1.6.0
probscale==0.2.5
protobuf==3.20.3
py==1.11.0
pygame==2.5.2
pyparsing==3.1.1
pysc2==4.0.0
pytest==7.4.3
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
s2clientprotocol==5.0.12.91115.0
sacred==0.8.5
scipy==1.11.4
six==1.16.0
sk-video==1.1.10
snakeviz==2.2.0
tensorboard==2.15.1
tensorboard-logger==0.1.0
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
urllib3==2.1.0
websocket-client==1.6.4
whichcraft==0.6.1
wrapt==1.16.0
git+https://github.com/ndhuynh02/smac.git
